.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 972px;
  width: 100%;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/backgrounds/main-slider-1-1.jpg') no-repeat 0 0 / cover fixed;
  transform: scale(1);
  z-index: -4;
  filter: grayscale(100%) brightness(30%) contrast(100%) sepia(1) hue-rotate(220deg) saturate(60%)
}


.hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -3;
}



.hero-text {
  margin-top: 30px;
  width: 1170px;
  height: 300px;
}

.cta-button {
  position: relative;
  overflow: hidden;
  background-color: rgb(98, 34, 204);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 17px 60px;
  margin-top: 52px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.cta-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: inherit;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
  z-index: -1;
}

.cta-button:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.cta-button:hover {
  color: rgb(0, 0, 0);
}


.search {
  background-color: transparent;
  border: none;
  padding-right: 40px;
  transition: opacity 0.3s;

}

.search:hover {
  opacity: 0.5;
}

.search-icon {
  width: 32px;
}

.cta-container {
  border-left: 1px solid gray;
  padding-left: 40px;
}

.cta {
  margin-left: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
}

.cta-icon {
  width: 32px;
}

.hero-slider-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 80px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.4px;
  border-radius: 8px 0 0 0;
}

.hero-slider-button {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 160px;
  gap: 10px;
  transition: 0.5s;
}

.hero-slider-buttons img {
  width: 24px;
}

.hero-slider-button:hover{
  background-color: black;
  color: white;
}

.hero-slider-button:hover img {
  filter: invert(1);
}

.pink-bg-element{
  position: absolute;
  top: -320px;
  right: 230px;
  width: 350px;
  height: 600px;
  background-color: rgba(133, 57, 255, 0.8);
  border-radius: 20px;
  z-index: 3;
}

.black-bg-element {
  position: absolute;
  top: -150px;
  right: -200px;
  width: 350px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  z-index: 2;
}

.pink-bg-element2 {
  position: absolute;
  top: 200px;
  right: -400px;
  width: 350px;
  height: 600px;
  background-color: rgba(195, 158, 255, 0.5);
  border-radius: 20px;
  z-index: 1;
}

.slides-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 70px;
  display: flex;
  gap: 10px;
}

.slide1-dot, .slide2-dot, .slide3-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.slider-dots > div.active {
  background-color: transparent;
  border: 1px solid white;
}
