.navbar-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 55px;
  height: 108px;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  box-sizing: border-box;
}


.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  flex: 1;
  column-gap: 63px;
  width: fit-content;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
}

.navbar-links li::after {
  content: "";
  position: absolute;
  left: 0; /* Changed from right: 0 */
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.navbar-links li:hover::after,
.navbar-links li.active::after {
  width: 100%;
}


.left-section {
  display: flex;
  align-items: center;
  height: fit-content;
}

.cta-container {
  display: flex;
  height: fit-content;
}

.vertical-line {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 100%;
}

.logo {
  margin-right: 50px;
}

.text-bold-500 {
  font-weight: 500;
}

.sticky-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 55px;
  height: 108px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #000;
  color: #fff;
  transform: translateY(-100%);
}

.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #6222cc;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-button-container.show {
  display: flex;
}

.floating-button-container.clicked {
  background-color: #000;
}

.floating-button {
  width: 24px;
  height: 24px;
  padding-top: 2px;
}