.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  z-index: 2001;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  /* No need for height or padding-bottom hacks */
  overflow-y: auto; /* allows scrolling inside if needed */
}

.hidden-nav {
  display: none !important;
}




/* Shown when active */
.mobile-nav.active {
  transform: translateX(0);
}

/* Overlay */
.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  z-index: 2000;
}

.mobile-nav-overlay.active {
  opacity: 1;
  visibility: visible;
}



.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.mobile-nav ul li {
  width: 100%;
  padding: 10px 0;
  text-align: start;
  color: white;
  border-bottom: 1px solid rgb(49, 49, 49);

}

.logo-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.logo img {
  max-width: 100%; /* Ensures image doesn’t cause overflow */
  height: auto;
}

button[nav] {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-nav-fixed,
.tablet-nav-fixed {
  position: fixed;
  display: none;
  height: 108px;
  top: 0;
  left: 30px;
  right: 30px;
  z-index: 1000;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6222cc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.nav-logo-div img {
  width: 12px;
  height: 12px;
}

.nav-logos img {
  width: 16px;
  height: 16px;
}

.nav-contact-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 15px 0px;
}

.mobile-break,
.tablet-nav-fixed {
  display: none;
}




/* Media Querries */
@media screen and (max-width: 767px) {
  .navbar-container,
  .tablet-nav-fixed,
  .hero-slider-buttons,
  .sticky-header,
  .get-to-know-right-text-big,
  .know-us-section-container::before,
  .know-us-section-container::after{
    display: none;
  }

  .nav-logos {
    margin-top: 30px;
  }

  .mobile-break {
    display: block;
  }





  body {
    width: 100vw;
    height: max-content;
  }

  .hero-section {
    height: 715px;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }


  .hero-text {
    font-size: 46px;
    line-height: 41px;
    width: 100%;
    height: fit-content;
  }

  .pink-bg-element,
  .black-bg-element,
  .pink-bg-element2 {
    width: 160px;
    height: 300px;
  }

  .pink-bg-element {
    top: -100px;
    right: 105px;
  }

  .black-bg-element {
    top: -80px;
    right: -50px;
  }

  .pink-bg-element2 {
    right: -150px;
    top: 150px;
  }

  .service-section-container {
    width: 100vw;
    height: fit-content;
    padding: 0px 20px;
    gap: 20px;
    overflow: hidden;
  }

  .service-section,
  .service-section-header,
  .service-section-left-section,
  .service-section-card-container,
  .know-us-section-container,
  .know-us-section-margin,
  .recent-projects-section-container,
  .projects-overview-section-container,
  .stats-container,
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }

  .service-section-container {
    padding: 0px;
  }



  .service-section-header {
    padding: 100px 0px 0px 0px;
    width: fit-content;
    margin: 0px 15px 0px 15px;
  }

  .service-section-left-section {
    justify-content: start;
    align-items: start;
    height: 92px;
  }

  .mobile-30 {
    font-size: 30px;
    height: 120px;
    line-height: 40px;
  }

  .service-section-card-container {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .service-section-content {
    padding: 0px;
    margin-bottom: 20px;
  }

  .service-section-card {
    align-items: center;
    border: none;
    margin: 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  }

  .service-title {
    text-align: center;
  }

  .service-section-cta {
    width: auto;
    text-align: center;
  }

  .get-to-know-us-image {
    position: relative;
    width: 382px;
    margin-bottom: 40px;
    height: auto;
    left: 0;
    border-radius: 8px;
  }

  .know-us-section-margin {
    flex-direction: column-reverse;
    margin: 30px 15px;
  }

  .mobile-align-center {
    text-align: start;
  }

  .know-us-section-container {
    margin: 60px 15px;
    padding: 0px;
  }

  .know-us-section {
    justify-content: start;
    align-items: start;
    width: calc(100vw - 30px);
  }

  .recent-projects-section-container {
    width: calc(100vw - 30px);
    margin: 0px 15px;
  }

  .landscape {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .portrait {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .projects-overview-section-container {
    height: fit-content;
    flex-direction: column-reverse;
  }

  .stats{
    border: none;
  }

  .stats-container {
    z-index: 1000;
    padding: 90px 0px;
    gap: 30px;

  }

  .benefits-section-container {
    position: relative;
  }

  .benefits-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 0;
    width: 100%;
  }

  .benefits-container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    border-radius: 0px;
  }

  .benefits-image {
    width: calc(100vw - 30px);
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .benefits-image-container {
    border-radius: 8px;
  }

  .cta-section {
    margin-top: 120px;
  }

  .cta-background {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .mobile-46 {
    font-size: 46px;
  }

  .cta-tab-bar {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    border-radius: 8px;
  }

  .cta-window-container,
  .cta-tab-buttons {
    width: calc(100vw - 30px);
    border-radius: 0;
  }

  .cta-window-container {
    top: 800px;
    height: 1700px;
    justify-content: space-between;
  }


  .cta-window {
    grid-template-columns: none;
    grid-template-rows: repeat(2 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .cta-section-bottom {
    width: calc(100vw - 30px);
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding: 90px 0px;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .padding-15 {
    padding: 0px 15px;
  }

  .footer-section {
    margin-top: 1400px;
  }

  .footer-section-header,
  .footer-header-left-section,
  .footer-middle-section {
    flex-direction: column;
    width: 100vw;
    gap: 20px;
  }

  .mobile-24 {
    font-size: 24px;
  }

  .footer-section-header {
    height: fit-content;
    padding: 30px 15px;
  }

  .footer-middle-section {
    height: fit-content;
  }

  .footer-middle-section-container {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: calc(100vw - 30px);
  }

  .newsletter-box {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-self: center;
    align-self: center;
    width: calc(100vw - 70px);
  }

  .agree-row {
    align-items: center;
    justify-content: start;
  }

  .footer-bottom {
    margin-top: 30px;
  }

  .footer-bottom-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }





  .contact-us-hero-section {
    height: 538px;
    width: 100vw;
  }

  .contact-middle-section {
    width: calc(100vw - 30px);
    height: fit-content;
    flex-direction: column;
    padding: 0px 15px;
    margin-top: 30px;
  }

  .contact-us-form-section {
    width: calc(100vw - 30px);
    height: fit-content;
    flex-direction: column;
    padding: 0px 15px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .contact-form-input-row {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .form-banner {
    height: 40px;
  }

  .footer-section-contact-us {
    margin-top: 0px;
  }

  .contact-middle-card {
    padding: 20px 0px;
  }

  .contact-form-input {
    margin: 0;
    width: calc(100vw - 120px);
  }
  
  .contact-form-input-row {
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .product-hero-section {
    width: 100vw;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }


  .product-hero-content h1 {
    width: 100vw;
    line-height: 50px;
    padding: 0px 15px;
  }

  h1 {
    font-size: 36px;
  }

  .h23 {
    font-size: 17px;
  }

  .product-hero-dashboard {
    width: 100vw;
    height: auto;
    display: none;
  }

  .product-hero .product-hero-section {
    width: 100vw;
  }

  .product-hero-bg {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }

  .key-features-section .key-features-container {
    width: 100vw;
  }

  .key-features-header {
    padding: 0px 15px;
  }

  .key-features-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-image-box {
    width: calc(100vw - 100px);
    height: auto;
  }

  h2 {
    font-size: 36px;
  }

  .h32 {
    font-size: 18px;
  }

  .dm19 {
    font-size: 15px;
  }

  .key-features-list {
    width: calc(100vw - 30px);
  }

  .banner1 {
    display: none;
  }

  .banner-mobile {
    width: 100%;
    margin: 0px 15px;
    padding: 40px 0px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
  }

  .banner-mobile .h36 {
    color: black;
    font-weight: 600;
  }

  .section1 .key-features-container {
    margin-top: 0px;
    width: 100vw;
  }
  
  .section1 .key-features-content {
    flex-direction: column-reverse;
  }

  .banner2 {
    display: none;
  }

  .section2 .key-features-container {
    margin-top: 0px;
    width: 100vw;
  }

  .product-footer-cta-section .h70 {
    font-size: 50px;
  }

  .product-footer-cta-section-container {
    padding: 0px 15px;
  }



}


@media screen and (min-width: 768px) and (max-width:1024px) {

  body {
    width: 100vw;
  }
  .navbar-container,
  .hero-slider-buttons,
  .sticky-header,
  .mobile-nav-fixed,
  .get-to-know-right-text-big,
  .know-us-section-container::before,
  .know-us-section-container::after {
    display: none;
  }

  .tablet-nav-fixed {
    display: flex;    
  }

  .hero-text {
    font-size: 111px;
    width: calc(100vw - 30px);
  }

  .hero-section {
    width: 100vw;
  }


  .service-section-container {
    height: 900px;
    justify-content: center;
  }

  .floating-shape {
    height: 900px;
    width: auto;
  }

  .service-section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 30px;
    margin-top: 100px;
  }

  .service-section-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .service-section-card {
    justify-content: center;
    align-items: center;
  }

  .service-title {
    text-align: center;
  }

  .know-us-section-container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }

  .know-us-section-margin {
    flex-direction: column-reverse;
    padding: 0px 30px;
    width: 100vw;
    align-items: center;
  }

  .recent-projects-section-container,
  .projects-overview-section-container,
  .benefits-container,
  .benefits-content-container{
    width: 100vw;
  }



  .get-to-know-us-image {
    position: relative;
    width: 600px;
    margin-bottom: 40px;
    height: auto;
    left: 0;
    border-radius: 8px;
  }

  .recent-projects-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
  }

  .portrait,
  .landscape {
    width: 330px;
    height: auto;
  }

  .benefits-container {
    flex-direction: column;
  }


  .stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    padding-top: 120px;
    padding-bottom: 280px;
    height: 100%;
    width: 100vw;
   
  }

  .projects-overview-section-container {
    width: 100vw;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }

  .benefits-container {
    top: 650px;
    justify-content: center;
    align-items: center;
    border-radius: 0;

  }


  .benefits-content-container {
    justify-self: center;
    width: 690px;
    margin: 0;
    margin-bottom: 80px;

  }

  .benefits-content-container h2{
    margin-bottom: 40px;
  }

  .benefits-image-container {
    justify-content: center;
    margin-top: 80px;
  }

  .benefits-image {
    border-radius: 8px;
  }

  .cta-section {
    margin-top: 850px;
  }

  .cta-tab-bar {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    border-radius: 8px;
  }

  .cta-window-container,
  .cta-tab-buttons {
    width: calc(100vw - 30px);
    border-radius: 0;
  }

  .cta-window-container {
    top: 800px;
    height: 1300px;
    justify-content: space-between;
  }


  .cta-window {
    grid-template-columns: none;
    grid-template-rows: repeat(2 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .cta-section-bottom {
    width: calc(100vw - 30px);
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding: 90px 0px;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .padding-15 {
    padding: 0px 15px;
  }

  .footer-section {
    margin-top: 1000px;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    justify-content: start;
  }


  .footer-section-header,
  .footer-header-left-section,
  .footer-middle-section {
    flex-direction: column;
    width: 100vw;
    gap: 20px;
  }

  .mobile-24 {
    font-size: 24px;
  }


  .footer-section-header {
    height: fit-content;
    padding: 30px 15px;
  }

  .footer-middle-section {
    height: fit-content;
  }

  .footer-middle-section-container {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: calc(100vw - 30px);
  }

  .newsletter-box {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-self: center;
    align-self: center;
    width: calc(100vw - 70px);
  }

  .agree-row {
    align-items: center;
    justify-content: start;
  }

  .footer-bottom {
    margin-top: 30px;
  }

  .footer-bottom-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .contact-us-hero-section {
    height: 538px;
    width: 100vw;
  }

  .contact-middle-section {
    width: calc(100vw - 30px);
    height: fit-content;
    flex-direction: column;
    padding: 0px 15px;
    margin-top: 30px;
  }

  .contact-us-form-section {
    width: calc(100vw - 30px);
    height: fit-content;
    flex-direction: column;
    padding: 0px 15px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .contact-form-input-row {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .form-banner {
    height: 40px;
  }

  .footer-section-contact-us {
    margin-top: 0px;
  }

  .contact-middle-card {
    padding: 20px 0px;
  }

  .contact-form-input {
    margin: 0;
    width: calc(100vw - 120px);
  }
  
  .contact-form-input-row {
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

@media screen and (min-width: 1025px) {
  .mobile-nav-fixed {
    display: none;
  }

  


}

